<main class="content__main">
  <div class="content__container">

    {{#each poems}}

    <article class="poem" {{#if self}} style="background-color:red" {{/if}}>
      <header class="poem__header">
        {{#if self}}
          <a class='poem__delete' href="/delete/{{username}}/{{id}}">Delete</a>
        {{/if}}
        <div class="poem__author">
          {{username}}
        </div>
          <img class="poem__author_avatar" src={{avatar_url}}>
      </header>

      <h3 class="poem__title">{{title}}</h3>
      <p class="poem__body">{{body_text}}
      </p>
    </article>

    {{/each}}

  </div>
</main>
